:root {
  --black: #111;
  --black20: rgba(0, 0, 0, 0.2);
  --orange: #fd9222;
  --orange10: rgba(253, 146, 34, 0.1);
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --gray03: rgba(17, 17, 17, 0.03);
  --gray10: rgba(17, 17, 17, 0.1);
  --gray40: rgba(17, 17, 17, 0.4);
  --gray60: rgba(17, 17, 17, 0.6);
  --gray70: rgba(17, 17, 17, 0.7);
  --white: #fff;
  --white10: rgba(255, 255, 255, 0.1);
  --white70: rgba(255, 255, 255, 0.7);

  --font-family: 'Montserrat', sans-serif;

  --transition: cubic-bezier(0.7, 0.98, 0.86, 0.98);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--black);
  background-color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.accent {
  color: var(--orange);
}

.section-title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
}

/*? HEADER */

.header {
  padding: 20px 0;
}

.heder-flex-container {
  display: flex;
  align-items: center;
  gap: 90px;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.03em;
  color: var(--black);
}

.header-logo .italic {
  font-style: italic;
}

.header-logo-img {
  fill: transparent;
  stroke: var(--orange);
}

.header-menu {
  display: flex;
  gap: 24px;
}

.header-menu-item {
}

.header-menu-link {
  padding: 12px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
  transition: all 250ms var(--transition);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--orange);
}

.header-social-list {
  display: flex;
  gap: 14px;
}

.header-social-item {
  width: 40px;
  height: 40px;
}

.header-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray10);
  border-radius: 10px;
  color: var(--black);
  transition: all 250ms var(--transition);
}

.header-social-link:hover {
  border: 1px solid var(--orange10);
  color: var(--orange);
}

.header-social-icon {
  fill: currentColor;
}

/*? HERO */
.hero {
  padding-bottom: 80px;
}

.hero-container {
  max-width: 1136px;

  padding: 381px 40px 40px;
  border-radius: 30px;
  background-color: var(--gray60);
  background-image: linear-gradient(to bottom, var(--gray40), var(--gray40)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.03em;
  color: var(--white);
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-btn {
  padding: 14px 40px;
  margin-right: 14px;
  border: 1px solid var(--orange);
  border-radius: 100px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--white);
  background-color: var(--orange);
  transition: all 250ms var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
  border: 1px solid var(--beige);
  color: var(--orange);
  background-color: var(--beige);
}

.hero-btn-link {
  padding: 14px 40px;
  border: 1px solid var(--white);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--white);
  background-color: transparent;
  transition: all 250ms var(--transition);
}

.hero-btn-link:hover,
.hero-btn-link:focus {
  border-color: var(--orange);
  color: var(--orange);
}

.hero-btn-scroll-down {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--white);
  transition: all 250ms var(--transition);
}

.hero-btn-scroll-down::after {
  content: '';
  display: flex;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white);
  background-image: url(../images/svg/scroll-down-orange.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 250ms var(--transition);
}

.hero-btn-scroll-down:hover,
.hero-btn-scroll-down:focus {
  color: var(--orange);
}

.hero-btn-scroll-down:hover::after,
.hero-btn-scroll-down:focus::after {
  background-color: var(--orange);
  background-image: url(../images/svg/scroll-down-white.svg);
}

.hero-btn-scroll-down-img {
}

/*? FEATURE */
.features {
  padding: 50px 0;
  background-color: var(--violet);
}

.features-list {
  display: flex;
  gap: 88px;
  padding: 0 18px;
}

.features-item {
  width: calc((100% - 88px * 2) / 3);
}

.features-subtitle {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}

.features-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--white70);
}

/*? TASTE */
.taste {
  padding-top: 120px;
}

.taste-title {
  max-width: 412px;
  margin: 0 auto 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.taste-item {
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
  border-radius: 15px;
}

.taste-item:nth-child(4n + 1) {
  color: var(--white);
  background-color: var(--orange);
}

.taste-item:nth-child(2n + 2) {
  border: 1px solid var(--orange);
  color: var(--black);
  background: var(--white);
}

.taste-item:nth-child(4n + 3) {
  color: var(--white);
  background: var(--violet);
}

.taste-img {
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/*? MADE */
.made {
  padding-top: 120px;
}

.made-title {
}

.made-flex-container {
  display: flex;
  gap: 20px;
}

.made-text-container {
  padding: 32px;
  border-radius: 15px;
  background-color: var(--white);
}

.made-img {
}

.made-subtitle {
  max-width: 350px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: var(--black);
}

.made-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.made-item {
}

.made-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--black);
}

/*? PRODUCTS  */
.products {
  padding-top: 120px;
}

.products-title {
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}

.products-item {
  width: calc((100% - 18px * 3) / 4);
  padding: 32px 20px;
  border: 1px solid var(--gray10);
  border-radius: 15px;
  text-align: center;
  background-color: var(--white);
}

.products-img {
  margin-bottom: 8px;
}

.products-subtitle {
  overflow: hidden;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--black);
}

.products-item-text {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: var(--gray70);
}

.products-btn {
  width: 98px;
  height: 33px;
  padding: 8px 0;
  border: 1px solid var(--gray10);
  border-radius: 100px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
  cursor: auto;
  background-color: var(--light);
}

/*? SELLERS */
.sellers {
  padding-top: 120px;
}

.sellers-title {
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-item {
  width: calc((100% - 16px * 2) / 3);
  border-radius: 15px 15px 0 0;
}

.sellers-item-overlay {
  position: relative;
  overflow: hidden;
}

.sellers-img {
}

.sellers-subtitle {
  padding: 28px 0;
  border: 1px solid var(--gray10);
  border-top: none;
  border-radius: 0 0 15px 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
}

.sellers-item-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 178px 40px 0;
  border-radius: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--white);
  background: linear-gradient(180deg, var(--black20) 0%, var(--black20) 100%);
  transition: transform 250ms var(--transition);

  transform: translateY(100%);

  backdrop-filter: blur(15px);
}

.sellers-item:hover .sellers-item-text {
  transform: translateY(0);
}

/*? REVIEW  */
.review {
  padding-top: 120px;
  padding-bottom: 120px;
}

.review-title {
  margin-bottom: 91px;
}

.review-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}

.review-item {
  position: relative;
  width: calc((100% - 28px * 2) / 3);
  padding: 56px 24px 24px;
  border: 1px solid var(--gray10);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 var(--gray03);
  background-color: var(--white);
}

.review-img {
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.review-subtitle {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: var(--black);
}

.review-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--gray70);
}

.review-btn {
  display: block;
  padding: 14px 40px;
  margin: 0 auto;
  border: 1px solid var(--orange);
  border-radius: 100px;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
  background-color: transparent;
  transition: all 250ms var(--transition);
}

.review-btn:hover,
.review-btn:focus {
  color: var(--white);
  background-color: var(--orange);
}

/*?  FOOTER */
.footer {
  padding: 50px 0 86px;
  background-color: var(--violet);
}

.footer-top {
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--white10);
}

.footer-text {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.02em;
  color: var(--white);
}

.footer-socials-list-container {
  margin-left: auto;
}

.footer-address-container {
  margin-left: 50px;
}

.footer-subtitle {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--white);
}

.footer-socials-list {
  display: flex;
  gap: 14px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--white10);
  border-radius: 10px;
  color: var(--white);
  transition: all 250ms var(--transition);
}

.footer-socials-link:hover {
  border: 1px solid var(--orange10);
  color: var(--orange);
}

.footer-socials-icon {
  fill: currentColor;
}

.footer-address {
}

.footer-address-list {
}

.footer-address-item:first-child {
  margin-bottom: 4px;
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--white);
  transition: all 250ms var(--transition);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--orange);
}

.footer-navigation {
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--white);
  transition: all 250ms var(--transition);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--orange);
}
